@import "tailwindcss";

:root {
  --primary: #163832;
  --secondary: #0B2B26;
  --text: #DAF1DE;
  --foreground: #235347;
  --accent: #8EB69B;
  --detail: #051F20;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-lato), sans-serif;
  background-color: var(--primary);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poiret-one), serif;
}

p, li, div {
  font-family: var(--font-lato), sans-serif;
}

button {
  background-color: var(--foreground);
  padding: 1rem;
  border-radius: 1em;
  font-family: var(--font-sans); /* Only using the Google font, no fallback */
}

button:hover {
  cursor: pointer;
  filter: saturate(0.1);
}

#primary {
  background-color: var(--primary);
}

#foreground {
  background-color: var(--foreground);
}

#accent {
  background-color: var(--accent);
}

#detail {
  background-color: var(--detail);
}

form input, textarea, button {
  border-color: var(--accent);
}

form button {
  color: var(--secondary);
}