.about-inner-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    border-radius: 20px;
}

.about-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 180px;
    
}

@media only screen and (min-width: 800px) {
    .about-outer-container {
        flex-direction: row;
    }
}

.about-section-container {
    flex-direction: row;
}

.about-picture {
    border-radius: 100%;
    padding: 20px;
    background-color: gray;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-button-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-section {
    background-color: gray;
    text-align: center;
    border-radius: 20px;
    padding-block: 20px;
    padding-inline: 10px;
    text-overflow: "-";
}

.about-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    min-width: 400px;
}