.about-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.about-picture {
    border-radius: 100%;
    padding: 20px;
    background-color: gray;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}