.title {
  background-color: #313131;
  top: 0;
  display: flex;
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: center;
}

.title-name {
  font-size: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section {
  background-color: #333;
  text-align: center;
}

.storyboard-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 180px;
}

@media only screen and ( min-width: 850px ) {
  .storyboard-container {
    width: 850px;
    margin: 0 auto;
  }
}

.storyboard-caption {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
}

.storyboard-item {
  background-color: #2b2b2b;
  padding-inline: 3rem;
  padding-block: 2rem ;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: lighter;
  flex-direction: column;
}

.storyboard-section {
  display: flex;
  text-align: justify;
  align-items: stretch;
  flex-direction: row;
  gap: 20px;
}

.sidebar {
  background-color: black;
  border-radius: 100px;
  width: 5px;
  flex-shrink: 0;
  margin-block: 25px;
}

.readmore-button {
  display: flex;
  justify-content: center;
}

.recommendation-books {
  display: flex;
  justify-content: center;
}

.books {
  justify-content: center;
  display:flex;
  gap: 2rem;
}

.book {
  font-size:medium;
  display: flex;
  justify-content: center;
  
}

.book-image {
  justify-content: center;
  background-color: #000000;
  padding: 20px;
  border-radius: 20px;
}

.book-name {
  font-weight:bolder;
}

.book-author {
  font-style: italic;
}

.books-title {
  text-align: center;
}