.title-name {
  font-size: 50px;
}

header {
  background-color: #333;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: large;
}

header .Title {
  background-color: #000000a0;
  position: sticky;
  padding: 10px;
}

section {
  background-color: #333;
  width: 100%;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

.right-content-container, .left-content-container, .middle-content-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-basis: 100/3%;
  flex-grow: 1;

}

/* Container that holds both aside elements */
.asides-container {
  display: flex;                 /* Ensures that asides are horizontally aligned */
  justify-content: space-between; /* Space between the two asides */
  padding: 1rem;
  flex-basis: 20%;
}

/* Styling for left and right asides */
.left-aside, .right-aside {
  padding: 10px;
  box-sizing: border-box;
}

/* Left aside takes 20% of the width */
.left-aside {
  background-color: blue;
  flex-basis: 20%;                /* 20% width */
  flex-grow: 0;
  
}

/* Right aside takes 80% of the width */
.right-aside {
  background-color: blue;
  flex-basis: 80%;                /* 80% width */
  flex-grow: 1;
}

.readmore-button {
  font-size: large;
  font-weight: bold;
}